<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.djd.busntrain"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
        <activity android:screenOrientation="portrait"
                android:name=".MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:screenOrientation="portrait" android:name=".bus.BusRouteActivity"/>
        <activity android:screenOrientation="portrait" android:name=".bus.BusDirectionActivity"/>
        <activity android:screenOrientation="portrait" android:name=".bus.BusStopActivity"/>
        <activity android:screenOrientation="portrait" android:name=".bus.BusPredictionActivity"/>
        <activity android:screenOrientation="portrait" android:name=".bus.BusFavoriteActivity"/>
        <activity android:screenOrientation="portrait" android:name=".train.TrainTestActivity"/>
        <activity android:screenOrientation="portrait" android:name=".train.TrainRouteActivity"/>
        <activity android:screenOrientation="portrait" android:name=".train.TrainStationActivity"/>
        <activity android:screenOrientation="portrait" android:name=".train.TrainPredictionsActivity"/>

        <service android:name=".bus.BusRouteService"/>
        <service android:name=".bus.BusDirectionService"/>
        <service android:name=".bus.BusStopService"/>
        <service android:name=".bus.BusPredictionService"/>
        <service android:name=".train.TrainStationService"/>
        <service android:name=".train.TrainPredictionService"/>

        <provider android:name=".provider.BusRouteContentProvider"
                  android:authorities="org.djd.busntrain.provider.busroutecontentprovider"/>
        <provider android:name=".provider.BusFavoriteContentProvider"
                  android:authorities="org.djd.busntrain.provider.busfavoritecontentprovider"/>
        <provider android:name=".provider.TrainStationsContentProvider"
                  android:authorities="org.djd.busntrain.provider.trainstationscontentprovider"/>
        <provider android:name=".provider.TrainStopsContentProvider"
                  android:authorities="org.djd.busntrain.provider.trainstopscontentprovider"/>
    </application>
</manifest>
